@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  letter-spacing: -1.4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* #e9b02d */
/* #d84057 */

.footer-icon {
  color: #d84057;
  width: 2.5rem;
  height: auto;
}

h1 {
  background-color: #d84057;
  font-size: 1.3rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.prof-h1 {
  background-color: #e9b02d;
}

.amenddb-icon,
.close-icon,
.like-icon {
  color: #d84057;
  width: 25;
  height: auto;
}

.amenddb-icon:hover,
.close-icon:hover,
.like-icon:hover {
  color: #e9b02d;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

input,
textarea {
  border: #d84057 2px solid;
}

p,
li {
  font-size: 0.9rem;
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-bottom: 0.5rem;
}

.bio-container {
  width: 100%;
  margin: auto;
}

.post {
  background-color: white;
  border: 2px solid #d84057;
  padding: 0.5rem 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: 1rem 0;
}

input,
textarea {
  margin: auto;
  width: 20rem;
}

.form-btn,
.user-btn {
  background-color: #d84057;
  max-width: 8rem;
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.form-btn:hover,
.user-btn:hover {
  background-color: #e9b02d;
}

/* ################# Dialog Styles Copied From Radix-UI Site ############# */

.DialogOverlay {
  width: 1rem;
  height: auto;
  background-color: white;
  position: fixed;
  inset: 0;
  /* animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1); */
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: var(--shadow-6);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  border: solid 2px #d84057;
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.TooltipContent {
  border: solid 2px #d84057;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: white;
}

.TooltipArrow {
  fill: #d84057;
}

@media (min-width: 375px) {
  .post-container,
  .bio-container {
    width: 20rem;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .post-container,
  .bio-container {
    width: 40rem;
  }
  p {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}
